body {
            background-color: #00ffff;
            text-align: center;
            padding: 0px;
        }

        #research {
            font-size: 18px;
            width: 800px;
            height: 45px;
            top: 23px;
        }
        #fuel {
            width: 150px;
            height: 45px;
            text-align: center;
            border-radius: 14px;
            font-size: 20px;
        }

        #fuel:hover {
            background-color: coral;
        }

        #research {
            width: 150px;
            height: 45px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }

        #research:hover {
            background-color: coral;
        }

        #resea {
            width: 150px;
            height: 45px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }

        #resea:hover {
            background-color: coral;
        }

        #sub {
            width: 150px;
            height: 45px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }

        #sub:hover {
            background-color: darkcyan;
        }

        #first {
            border-radius: 14px;
            height: 35px;
            font-size: 20px;
            text-align: center;
        }

        #second {
            border-radius: 14px;
            height: 35px;
            font-size: 20px;
            text-align: center;
        }

        #third {
            border-radius: 14px;
            height: 35px;
            font-size: 20px;
            text-align: center;
        }

        #fourth {
            border-radius: 14px;
            height: 35px;
            font-size: 20px;
            text-align: center;
        }
        prediction{
        color=green;
        }
        p.{
        color:red;
        }
        .Prediction{
        color:#0000cd;
        }
        .title{
        color:#0000cd;
        }